body {
    font-family: Arial, sans-serif;
    background-image: url('space.jpg'); /* Set background image */
    background-size: cover; /* Ensure background image covers the body */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-image: url('sun.jpeg'); /* Set background image */
    background-size: cover; /* Ensure background image covers the container */
    background-color: transparent; /* Remove white background */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333;
}

h1 {
    color: #f39c12;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    color: #00008B;
    font-weight: bold;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

#result {
    font-size: 20px;
    margin-top: 20px;
}

#scoreboard {
    margin-top: 30px;
    color: #555;
}

#reset {
    background-color: #e74c3c;
}

#reset:hover {
    background-color: #c0392b;
}
